<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/main.css">
    </head>
<body>

    {% include navigation.html %}

    <main class="content">
        {{content}}
            <ul class = "blog-list">
    {% for post in site.posts %}
        <li class = "blog-item">
        <a href="{{ post.url }}" class = "post-title">{{ post.title }} </a>
        <span class="post-date">{{post.date | date: "%B %d, %Y"}}</span>
        <main></main>
        </li>
    {% endfor %}
    </ul>
    </nav>
    </main>

    <footer>
        <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
    </footer>

</body>
</html>


